/*1. Orang Pertama Inisialisasi */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Grande";
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
/* 1. Orang Pertama Inisialisasi */
/* 2. Orang Kedua Header */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
.logo {
  width: 60px;
  margin-top: 0px;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  margin-right: -25px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading h2 {
  font-weight: normal;
}
/* 2. Orang Kedua Header */
/* 3. Orang Ketiga Top Wrapper */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://quizizz.com/_media/quizzes/dc5e9c06-7b2c-4de7-8534-c55742d2217e_900_900);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper h3 {
  opacity: 0.7;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.rhino{
  background-color: yellowgreen;
  cursor: pointer;
  box-shadow: 0 7px rgb(108, 145, 35);
}
.rhino:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.lion{
  background-color: chocolate;
  cursor: pointer;
  box-shadow: 0 7px rgb(161, 81, 23);
}
.lion:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.bird{
  background-color: brown;
  cursor: pointer;
  box-shadow: 0 7px rgb(99, 25, 25);
}
.bird:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  width: 12%;
  margin-bottom: 15px;
}
.btn:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}
/* 3. Orang Ketiga Top Wrapper */
/* 4. Orang Keempat Lesson Wrapper */
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.lesson {
  float: left;
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon img{
    width: 95%;
}
.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
/* 4. Orang Keempat Lesson Wrapper*/
/* 5. Orang Kelima Message Wrapper dan Buat Footer */
.heading h3 {
  font-weight: normal;
}
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
footer img {
  width: 125px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
/* 5. Orang Kelima Message Wrapper dan Buat Footer */
/* 1. Orang Pertama Buat Responsive */
* {
  box-sizing: border-box;
}
.clear {
  clear: left;
}
/* 1. Orang Pertama Buat Responsive */